[VERSION]
major = 1
minor = 0

[GENERAL]
atc_type = "Eagle"
atc_model = "F15E"
Category = "airplane"
performance = ""
editable = 1
wip_indicator = 2
icao_type_designator = "Strike Eagle"
icao_manufacturer = "DC Designs"
icao_model = "F-15E Eagle"
icao_engine_type = "Jet"
icao_engine_count = 2
icao_WTC = "L"

[EFFECTS]
wake = fx_wake
water = fx_spray
dirt = fx_tchdrt
concrete = fx_sparks
touchdown = fx_tchdwn_s, 1
effect.0 = FX_ENGINE_LEFT#	(A:GENERAL ENG COMBUSTION:1, boolean)#FX_ASOBO_HEAT_BIG
effect.1 = FX_ENGINE_RIGHT#	(A:GENERAL ENG COMBUSTION:2, boolean)#FX_ASOBO_HEAT_BIG

[LOADING]
ImageName = LOADING_FREEFLIGHT
Tips0 = "The Strike Eagle is one of the world's most versatile multi-role fighter aircraft."
Tips1 = "The Strike Eagle carries the most air-to-ground weapons in the USAF inventory."
Tips2 = "The F-15E carries full flight controls in the rear seat for emergency use."
Tips3 = "The maiden flight of the Strike Eagle took place in December 1986."
Tips4 = "The F-15E has a greater range than the C variant due to extra conformal fuel tanks."

[EXITS]
number_of_exits = 1

;===================== FLTSIM =====================

[FLTSIM.0]
title = "DCDesigns_F15E" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "391" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "TT:AIRCRAFT.DESCRIPTION.F15E" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "DC Designs" ; e.g. Boeing, Cessna
ui_type = "F15E" ; e.g. 747-400, 172
ui_variation = "391st Fighter Squadron" ; e.g. World Air, IFR Panel
ui_typerole = "Twin Engine Jet" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "DC Designs" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 60000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 2000 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 4 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 1200 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "G-DCAE" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "MIL COMBAT" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; airtraffic flag for variations
isUserSelectable = 1 ;



[FLTSIM.1]
title = "DCD F-15E Strike Eagle Tiger Meet" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "TIGER" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "391st Fighter Squadron, 'Tiger Meet' 2005" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "DC Designs" ; e.g. Boeing, Cessna
ui_type = "F15E" ; e.g. 747-400, 172
ui_variation = "391st Fighter Squadron, 'Tiger Meet' 2005" ; e.g. World Air, IFR Panel
ui_typerole = "Twin Engine Jet" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "DC Designs" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 60000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 2000 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 4 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 1200 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "G-DCAE" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "MIL COMBAT" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; airtraffic flag for variations
isUserSelectable = 1 ;


[FLTSIM.2]
title = "DCD F-15E Strike Eagle 336th FS" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "336" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "336th Fighter Squadron, Seymour Johnson AFB" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "DC Designs" ; e.g. Boeing, Cessna
ui_type = "F15E" ; e.g. 747-400, 172
ui_variation = "336th Fighter Squadron, Seymour Johnson AFB" ; e.g. World Air, IFR Panel
ui_typerole = "Twin Engine Jet" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "DC Designs" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 60000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 2000 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 4 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 1200 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "G-DCAE" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "MIL COMBAT" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; airtraffic flag for variations
isUserSelectable = 1 ;

[FLTSIM.3]
title = "DCD F-15E Strike Eagle 90th FS" ; Variation name
model = "" ; model folder
panel = "" ; panel folder
sound = "" ; sound folder
texture = "90" ; texture folder
kb_checklists = "" ; Procedures/Checklist sibling file name
kb_reference = "" ; Reference information sibling file name
description = "90th Fighter Squadron, Elmendorf Air Force Base, Alaska" ; Variation description.
wip_indicator = 0 ; know if the variation is good to go or still WIP : -1=Disabled, 0=Rough, 1=1st Pass, 2=Finished
ui_manufacturer = "DC Designs" ; e.g. Boeing, Cessna
ui_type = "F15E" ; e.g. 747-400, 172
ui_variation = "90th Fighter Squadron" ; e.g. World Air, IFR Panel
ui_typerole = "Twin Engine Jet" ; e.g. Single Engine Prop, Twin Engine Prop, Rotorcraft, etc
ui_createdby = "DC Designs" ; e.g. Asobo Studio, Microsoft, FSAddonCompany, etc
ui_thumbnailfile = "" ; app relative path to ThumbNail image file
ui_certified_ceiling = 60000 ; service ceiling / max certified operating altitude (ft)
ui_max_range = 2000 ; max distance the aircraft can fly between take-off and landing in (NM)
ui_autonomy = 4 ; max duration the aircraft can fly between take-off and landing in (Hrs)
ui_fuel_burn_rate = 1200 ; average fuel consumption per hour (lbs/hr) - reminder: fuel density is ~6.7lbs per US gallon
atc_id = "G-DCAE" ; tail number
atc_id_enable = 1 ; enable tail number
atc_airline = "" ; airline name
atc_flight_number = "" ; flight number
atc_heavy = 0 ; heavy?
atc_parking_types = "MIL COMBAT" ; "ANY" / "RAMP" / "CARGO" / "MIL_CARGO" / "MIL_COMBAT" / "GATE" / "DOCK"
atc_parking_codes = "" ; Comma separated and may be as small as one character each
atc_id_color = "" ; color for the tail number : i.e. "#ffff00ff"
atc_id_font = "" ; font for the tail number
isAirTraffic = 0 ; airtraffic flag for variations
isUserSelectable = 1 ;

[SERVICES]
FUELTRUCK =0
BAGGAGE_LOADER =0
CATERING_TRUCK =0
BOARDING_RAMP =0
GROUND_POWER_UNIT =0
PUSHBACK =0
SMALL_PUSHBACK =0
MARSHALLER =1
JETWAY =0


